# Local .terraform directories
**/.terraform/*

README.md
install-tools.sh
terraform_destroy.md
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars.json

# Ignore override files as they are usually used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

# SSH 키 파일
*.pem
*.pub
jskwon-test-key

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo

# 로그 파일
*.log

# 로컬 환경 설정 파일
.env
.env.local

# MacOS 시스템 파일
.DS_Store

# Windows 시스템 파일
Thumbs.db
ehthumbs.db
Desktop.ini

# 임시 파일
*.bak
*.tmp
*~
*.backup
